<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    	<title><%= content_for?(:title) ? yield(:title) : "Rails3 Mongoid Devise" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Mongoid Devise" %>">
		<link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
    </head>
    <body>
	    		<header>
			<div class="container clearfix">
				<nav class="clearfix">
				<ul>

  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit Account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Register', new_user_registration_path %>
    </li>
  <% end %>
</ul>	
				</nav>
				<div id="logo">
					<a href="/">
					</a>

				</div>
			</div>
		</header>

    <div id="container" class="container">
        <%= render 'layouts/messages' %>
      <div id="main" role="main">
        <%= yield %>
</div>	
      </div>	

<section id="details">
	<div class="description container clearfix">
		<div>
			<h2>Know your market</h2>
			<p>Browse a catalog of market research spanning several industries, regions and demographics from all over the world.</p>
		</div>

		<div>
			<h2>Quality information</h2>
			<p>All the research information is provided by certified experts with knowledge and experience in targeted markets.</p>
		</div>

		<div>
			<h2>Standarized reports</h2>
			<p>Our research reports are organized according to a strict standard, saving you the time to get through sets of different layouts and formats.</p>
		</div>
	</div>
		</section>
<footer>
	<a href="/us/index">About us</a> | 
	<a href="#">Terms and conditions</a> | 
	<a href="http://investigarmercado.blogspot.com/">Blog</a>	
</footer>
</body>
</html>
