<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    	<title><%= content_for?(:title) ? yield(:title) : "Rails3 Mongoid Devise" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Mongoid Devise" %>">
		<link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
    </head>
    <body>
	    		<header>
			<div class="container clearfix">
				<nav class="clearfix">
				<ul>

  <% if user_signed_in? %>
    <li>
    <%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Acceso', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Editar Cuenta', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Registro', new_user_registration_path %>
    </li>
  <% end %>
</ul>	
				</nav>
				<div id="logo">
					<a href="/">
					</a>

				</div>
			</div>
		</header>

    <div id="container" class="container">
        <%= render 'layouts/messages' %>
      <div id="main" role="main">
        <%= yield %>
</div>	
      </div>	

<section id="details">
	<div class="description container clearfix">
		<div>
			<h2>Respuestas a un click</h2>
			<p>Nuestra base de datos ha sido alimentada con miles de estudios listos para ser usados en tu próxima idea.</p>
		</div>

		<div>
			<h2>A tu medida</h2>
			<p>Si tus requerimientos son muy específicos y no encuentras lo que necesitas, buscamos profesionales capaces de responder tus preguntas del mercado.</p>
		</div>

		<div>
			<h2>¿Eres investigador?</h2>
			<p>Si eres un profesional con capacidad de realizar estudios de mercado de alta calidad, estamos interesados en saber de ti. <a href="/users/sign_up">Contáctanos.</a></p>
		</div>			
	</div>
		</section>
<footer>			
	<a href="/us/index">Nosotros</a> | 
	<a href="#">Términos y condiciones</a> | 
	<a href="http://investigarmercado.blogspot.com/">Blog</a>	
</footer>
</body>
</html>
