<section id="results">
    <div class="container">
        <h2>5 estudios encontrados</h2>
                
        <div class="results">
            <ol>
<% @articulos.each do |articulo| %>
    <li class="clearfix">
        <div class="position">1</div>
        <div class="result-details">
            <h3><a href=""><%= link_to  articulo.titulo , articulo %></a></h3>
            <span class="author"> <a href="">Michael Jackson</a></span> | <time>26 de febrero de 2012</time>
            <p><%= articulo.abstract%></p>
        </div>
        <div class="result-meta">
            <div class="price">$<%= articulo.precio %></div>
            <div class="reputation"><%= articulo.calificacion %><div>Valoración</div></div>
        </div>
        
    </li>
    <!--
    <td><%= articulo.titulo %></td>
    <td><%= articulo.abstract %></td>
    <td><%= articulo.description %></td>
    <td><%= articulo.fecha %></td>
    <td><%= articulo.precio %></td>
    <td><%= articulo.calificacion %></td>
    <td><%= articulo.foto %></td>
    <td><%= link_to 'Show', articulo %></td>
    <td><%= link_to 'Edit', edit_articulo_path(articulo) %></td>
    <td><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    -->
<% end %>
</ol>
</div>
</div>
</section>
<br />

<%= link_to 'New Articulo', new_articulo_path %>



