<section id="contEspecifico">
    <article id="espLeft">
        <figure>
            <img src="/images/cow.jpg" width="333" height="333" alt="estudio vacas">
        </figure>
        <p id="valor">Valor</p>
        <p id="precio">$ <%= @articulo.precio %></p>
        <aside>
            <div id="calificacion">
                <p>Calificacion del comprador</p>
                <img src="/images/start.png" width="125" height="18" alt="stars">
            </div>    
        </aside>
  
     </article>
     <article id="espRight">
            <h1>
                <%= @articulo.titulo %>
            </h1>
            <p id="description">
                <%= @articulo.description %>
            </p>
            <p id="comprarlo">Donde Comprarlo</p>
            <div id="shop">
                <img src="/images/logos_buy.png" width="665"  alt="stars">
            </div>
     </article>
<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @articulo.titulo %>
</p>

<p>
  <b>Abstract:</b>
  <%= @articulo.abstract %>
</p>

<p>
  <b>Description:</b>
  <%= @articulo.description %>
</p>

<p>
  <b>Fecha:</b>
  <%= @articulo.fecha %>
</p>

<p>
  <b>Precio:</b>
  <%= @articulo.precio %>
</p>


<p>
  <b>Foto:</b>
  <%= @articulo.foto %>
</p>


<%= link_to 'Edit', edit_articulo_path(@articulo) %> |
<%= link_to 'Back', articulos_path %>

</section>
